{% load static %}
<footer>
    <div class="footer-container">
        <div class="footer-half-container">
            <div class="footer-logo">

                <a href="./index.html"><img class="footer-logo" src="{% static '\logo\White Logo.svg' %}" alt="" /></a>
            </div>
            <article>
                <p class="footer-article">
                    We earned a reputation of being good at what we do. Let us take
                    your online shop to new dimension in success!
                </p>
                <div class="footer-location">
                    <p>
                        <i class="fas fa-map-marker-alt"></i>Ashulia, Dhaka, Bnagladesh
                        1400
                    </p>
                    <p>
                        <a href="touristguide@gmail.com"><i
                                class="far fa-envelope-open"></i></i>touristguide@gmail.com</a>
                    </p>
                    <p>
                        <a href="+8801865748726"><i class="fas fa-mobile-alt"></i>+88 01865748726</a>
                    </p>
                </div>
                <div class="footer-social-icon">
                    <a href="#"><i class="fab fa-facebook" id="active"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                </div>
            </article>
        </div>
        <div class="footer-half-container">
            <div class="receive-update">
                <h1>RECEIVE EMAIL UPDATES</h1>
                <div>
                    <input type="email" placeholder="Your Email Address" required />
                    <a href="#">Join</a>
                </div>
            </div>
            <div class="footer-link">
                <div class="touristguide-link">
                    <h3>Tourist Guide</h3>
                    <ul>
                        <li><a href="./About-us.html">About Us</a></li>
                        <li><a href="./Gallery.html">Gallery</a></li>
                        <li><a href="./home.html">Home</a></li>
                        <li><a href="./Create-Event.html">Create Event</a></li>
                        <li><a href="./contact-us.html">Contact Us</a></li>
                    </ul>
                </div>
                <div class="help-link">
                    <h3>Help</h3>
                    <ul>
                        <li><a href="./FAQ.html">FAQ</a></li>
                        <li><a href="./Trems-conditions.html">Terms and conditions</a></li>
                        <li><a href="">Chat with TouristGuide</a></li>
                        <li><a href="./howtouse.html">How To Use</a></li>
                    </ul>
                </div>
                <div class="about-us">
                    <h3>About</h3>
                    <ul>
                        <li><a href="./feedback.html">Share History</a></li>
                        <li><a href="./profile-event.html">Profile</a></li>
                        <li><a href="./contact-us.html">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <p class="copyright">
        Copyright © 2020 . <a href="#">Tourist Guide</a> All rights reserved
    </p>
</footer>